<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading"><%= t("common.login") %></div>
      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "" }) do |f| %>
          <div class="form-group">
            <%= f.text_field :email, type: :email, class: "form-control", placeholder: "Email" %>
          </div>
          <div class="form-group">
            <%= f.text_field :password, type: :password, class: "form-control", placeholder: "密码" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="from-group checkbox">
              <label for="user_remember_me">
                <%= f.check_box :remember_me %> <%= t("common.remember_me") %>
              </label>
            </div>
          <% end -%>
          <div class="form-group">
            <%= f.submit t("common.login"), class: "btn btn-primary btn-block", 'data-disable-with' => t("common.logining") %>
          </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(function () {
    $.material.init();
  });
</script>