<div class="row">
  <% if @subjects.last_page?%>
    <%= link_to "查看结果", result_exam_paper_exam_answers_path(@exam_paper), class: "btn btn-lg btn-block btn-raised btn-danger"%>
  <% end %>
  <div class="col-md-12">
  <%= simple_form_for ExamAnswer.new, url: exam_paper_exam_answers_path(@exam_paper), remote: true do |f| %>
  <% @subjects.each do |subject|%>
    <%= f.hidden_field :subject_id, value: subject.id %>
      <fieldset>
        <div class="form-group is-empty">
            <h5><%= subject.content%></h5>
        </div>
        <div class="form-group is-empty">
          <% subject.exam_options.each do |option|%>
            <div class="radio radio-primary">
              <label>
                <input type="radio" name="exam_answer[exam_option_id]" id="exam_answer_exam_option_id" value="<%= option.id%>" >
                <p class="text-info"><%= option.title%></p>
              </label>
            </div>
          <% end %>
        </div>
      </fieldset>
    <% end %>
  <% end %>
  <ul class="pager">
    <%= link_to_previous_page @subjects, '上一题', class: 'btn btn-primary btn-lg btn-block btn-raised' %>
    <%= link_to_next_page @subjects, '下一题', class: 'btn btn-primary btn-lg btn-block btn-raised' %>
  </ul>
  </div>
</div>
<script>
  $(function () {
    $.material.init();
  });
  $('input[type=radio]').on('change', function() {
    $(this).closest("form").submit();
  });
</script>